@model QuestionarioApp.ViewModels.FormularioViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormularioViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pergunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pergunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFormulario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFormulario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataExclucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataExclucao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
